html {
    scroll-behavior: smooth;
}

*,
:after,
:before {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    line-height: 1.4;
    color: #000;
    /* letter-spacing: 1px; */
}

ul li,
ol li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 400;
}
.container{
    max-width: 1160px;
    padding:0 15px;
    margin: auto;
    position: relative;
}
.row{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.margin-left{
    margin-left: 60px;
}
.margin-right{
    margin-right: 60px;
}
.mt-3{
    margin-top: 30px;
}
.div-6{
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        position: relative;
}
.text-end{
    text-align: right;
}
.align-items-center{
    align-items: center;
}
.banner{
    background: #000;
    position: relative;
    width: 100%;
    height: 100vh;
}
.banner .container{
    height: 100%;
}
.banner .logo{
    position: absolute;
    top: 50px;
    left: 0;
}
.banner .logo img{
    width: 250px;
    height: auto;
}
.banner h1{
    color: #fff;
    padding-left: 30px;
    position: absolute;
    transform: translateY(-50%);
    top: 55%;
    font-size: 44px;
    width: 100%;
    font-weight: 200;
}
.banner h1::before{
    content: "";
    position: absolute;
    left: 0;
    top: 15px;
    bottom: 15px;
    /* height: 100%; */
    width: 6px;
    background: url(../img/line.svg);    
}

#back-to-top {
    position: fixed; 
    bottom: 40px; 
    right: 40px;
    z-index: 999;
    width: 45px;
    height: 45px;
}

.our-mission{
    padding: 50px 0;
}
.our-mission .item{
    padding: 30px 0;
}
.our-mission h2{
    font-size: 28px;
    font-weight: 500;
    padding-right: 70px;
}
.our-mission p{
    font-size: 20px;
}
.our-mission h2,
.our-mission p{
    position: relative;
    padding-left: 50px;
    margin: 0;
}
.our-mission h2::before,
.our-mission p::before{
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    height: 30px;
    width: 30px;
    background: url(../img/list.svg) no-repeat; 
}
.our-mission .border-bottom{
    position: relative;
}
.our-mission .border-bottom::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    margin-left: 50px;
    border-bottom: 1px solid #ccc;
}
.our-mission .border-left::before{
    content: "";
    position: absolute;
    left: 94%;
    bottom: 0;
    top: 0;
    height: 100%;
    width: 1px;
    margin-left: 50px;
    border-left: 1px solid #ccc;
}

footer{
    background: #000;
    padding: 50px 0;
}
footer p{
    color: #fff;
}
footer p a{
    color: #fff;
    text-decoration: none;
}
footer p a:hover{
    text-decoration: underline;
    transition: 0.5s;
}
footer img{
    height: 15px;
    width: auto;
}



@media only screen and (min-device-width:1600px) and (max-device-width:2560px) {
    body{
        font-size: 20px;
    }
    .container{
        max-width: 90%;
    }
    .banner .logo img {
        width: 500px;
        height: auto;
    }
    #back-to-top {
        width: 65px;
        height: 65px;
    }
    .banner h1{
        font-size: 70px;
    }
    .our-mission h2{
        font-size:46px ;
    }
    .our-mission p {
        font-size: 34px;
    }
    .our-mission .item {
        padding: 40px 0;
    }
    .our-mission .border-left::before{
        left: 95%;
    }
    footer img {
        height: 25px;
        width: auto;
    }
}

@media (max-width: 1024px) {
    .container{
        max-width: unset;
        padding:0 30px;
    }
    .banner h1{
        font-size: 40px;
    }
    .our-mission .item{
        height: 180px;
    }
    .our-mission h2{
        font-size: 26px;
    }
    .our-mission p{
        font-size: 18px;
    }
}
@media (max-width: 992px) {
    .banner h1{
        font-size: 32px;
    }
    .our-mission .item {
        height: 170px;
    }
    .our-mission h2{
        font-size: 22px;
        padding-right: 30px;
    }
    .our-mission p{
        font-size: 16px;
    }
    .our-mission .border-left::before{
        left: 90%;
    }
}
@media (max-width: 991px) {
    .margin-left{
        margin-left: 50px;
    }
    .margin-right{
        margin-right: 50px;
    }
}
@media (max-width: 767px) {
    body{
        font-size: 12px;
    }
    .container {
        padding: 0 40px;
    }
    .mt-3 {
        margin-top: 20px;
    }
    .banner h1 {
        font-size: 28px;
    }
    .banner .logo img {
        width: 200px;
    }
    
    .margin-left{
        margin-left: 0;
    }
    .margin-right{
        margin-right: 0;
    }
    .our-mission {
        padding: 20px 0;
    }
    .our-mission .div-6 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
    }
    .our-mission .item {
        height: unset;
    }
    .our-mission .border-left::before{
        content: unset;
    }
    .our-mission h2,
    .our-mission p{
        font-size: 15px;
        font-weight: 300;
        padding-left: 35px;
    }
    .our-mission .item {
        padding: 20px 0;
    }
    .our-mission .item::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 1px;
        margin-left:35px;
        border-bottom: 1px solid #ccc;
    }
    .our-mission h2::before, .our-mission p::before{
        width: 20px;
        height: 20px;
    }
    #back-to-top{
        bottom: 30px;
        right: 30px;
    }
    footer img {
        height: 12px;
    }
}